ul {
    li {
        &.closed {
            background-color: #fbfbfb;
        }
        
        .media {
            img {
                width: 72px;
                height: 72px;
            }
        }

        .i-body {
            font-size: 14px;
        }
    }
}