<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-light bg-light">
  <form class="form-inline pl-1 pr-1 pl-sm-3 pr-sm-3 col-12 justify-content-center" >
    <input class="form-control mr-1 col-9 col-sm-10" type="search" placeholder="Repositorio Github..." aria-label="Repositorio Github..." name="search-item" [(ngModel)]="searchUrl">
    <button class="btn btn-outline-success my-2 ml-sm-1 col-2 col-sm-1" [class.disabled]="loadingRepo || loading || searchUrl.length === 0" type="submit" (click)="getIssuesList();"><i class="fas fa-search"></i></button>
  </form>

  <div class="container repo-info" *ngIf="repo.name !== ''">
    <div class="row border">
      <div class="col-4 title">Usuario:</div><div class="col-8"><a href="https://github.com/{{repo.user}}" target="_blank">{{repo.user}}&nbsp;<i class="fas fa-external-link-alt"></i></a></div>
      <div class="col-4 title">Repositorio:</div><div class="col-8"><a href="https://github.com/{{repo.user}}/{{repo.name}}" target="_blank">{{repo.name}}&nbsp;<i class="fas fa-external-link-alt"></i></a></div>
      <div class="col-4 title">Cuestiones:</div><div class="col-8">{{repo.total}}</div>
    </div>
  </div>
</nav>


  <div class="container" *ngIf="repo.pages > 0">
    <div class="row">
      <paginator class="col-12 text-center" [pages]="repo.pages" [currentPage]="page" [loading]="loading" (clickPage)="loadPage($event)" (clickNext)="nextPage()" (clickPrev)="previousPage()"></paginator>
    </div>
  </div>

  <div class="col-12 text-center" *ngIf="loadingRepo || loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="container" *ngIf="repo.name === '' && textError === ''">
      <div class="text-secondary m-2 p-2 text-center">Introduce la url de un repositorio de Github y pulsa la lupa para continuar.</div>
  </div>
  <div class="text-danger m-2 p-2 text-center">{{textError}}</div>
    
  <div class="container" *ngIf="repo.pages > 0">
    <div class="row">
      <issues-list [issues]="issues" class="col-12"></issues-list>
  </div>
</div>


<router-outlet></router-outlet>
